@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* small custom overrides */
.hero-gradient {
  background: linear-gradient(90deg, rgba(8, 78, 205, 0.08), rgba(0, 0, 0, 0));
}
.card-shadow {
  box-shadow: 0 6px 20px rgba(10, 37, 64, 0.06);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.animate-slowZoom {
  animation: slowZoom 15s ease-in-out infinite alternate;
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}
.animate-slowZoom {
  animation: slowZoom 10s ease-in-out infinite alternate;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: scale(0.98) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
.animate-fadeSlide {
  animation: fadeSlide 0.8s ease-in-out;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
